<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Employee Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">List of our Employees</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 offset-md-9 offset-0">
                <div class="input-group mb-3">
                    <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped bg-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
                    <th>gender</th>
                    <th>address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of list$ | async | filter:phrase">
                    <td>{{ row.id }}</td>
                    <td>{{ row.first_name }}</td>
                    <td>{{ row.last_name }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ row.address }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <hr>

    </div>
    <!-- /container -->

</main>

<footer class="container">
    <p>&copy; cherryApp 2020</p>
</footer>